@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: #f7f7f7;
}

body {
	background-color: #070707;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

/* STAR HEADER */
header {
	height: 100vh;
}

header .nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 0 30px;
	padding-top: 20px;
	position: relative;
}

header .nav2 {
	display: none;
}

/* LEFT SIDE */
.left-side .menu,
.left-side .menu a {
	display: flex;
	align-items: center;
}

.left-side .menu a {
	position: relative;
	margin-right: 20px;
	gap: 10px;
}

.left-side .menu a i,
.left-side .menu a span {
	color: #9d9d9d;
	transition: 0.2s ease-in-out;
}

.left-side .menu a i {
	font-size: 21px;
}

.left-side .menu a span {
	font-size: 16px;
}

/* when hover */
.left-side .menu a:hover i,
.left-side .menu a:hover span {
	color: white;
}

/* when active */
.left-side .menu a.active i,
.left-side .menu a.active span {
	color: white;
}
.left-side .menu a.active i {
	position: relative;
}
.left-side .menu a.active i::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 3px;
	background-color: white;
	border-radius: 50%;
	bottom: -8px;
	right: 50%;
}

.search-box {
	background-color: #222224;
	height: 40px;
	display: flex;
	border-radius: 20px;
	overflow: hidden;
	width: 250px;
	padding-right: 10px;
}

.search-box label {
	width: 55px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #ccc;
}

.search-box label i {
	color: #ccc;
}

.search-box input {
	border: none;
	width: 100%;
	background-color: #222224;
	outline: none;
}

/* LOGO */
.logo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	width: 50px;
	height: 50px;
}

.logo img {
	width: 100%;
	height: 100%;
}

/* RIGHT SIDE */
.right-side, header .nav .left-side {
	display: flex;
	align-items: center;
	gap: 25px;
}

.right-side .icon-menu {
	display: flex;
	align-items: center;
	gap: 17px;
}

.right-side .icon-link i {
	font-size: 18px;
	color: white;
}

.right-side .coin-box {
	display: flex;
	align-items: center;
	width: 200px;
	height: 40px;
	gap: 10px;
	padding: 0 15px;
	background-color: #222224;
	border-radius: 20px;
	position: relative;
	font-size: 16px;
}

.right-side .coin-box img {
	width: 20px;
	height: 20px;
}

.right-side .coin-box .buy-coin {
	position: absolute;
	width: 22px;
	height: 22px;
	background-color: #5e77ff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	right: 15px;
	top: 25%;
}

.right-side .profile {
	width: 50px;
	height: 50px;
	box-shadow: 3px 2px #848484, 6px 4px #393939, -3px -2px #393939;
	border-radius: 12px;
	position: relative;
	cursor: pointer;
}

.right-side .profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}

.right-side .profile ul {
	position: absolute;
	width: 200px;
	background-color: #f9f9f9;
	border-radius: 10px;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: scale(0);
	transform-origin: top right;
	transition: 0.2s;
}

.right-side .profile:hover ul {
	transform: scale(1);
}

.right-side .profile ul a {
	width: 100%;
	padding: 10px 20px;
}

.right-side .profile ul a:first-child {
	border-radius: 10px 10px 0 0;
}.right-side .profile ul a:last-child {
	border-radius: 0 0 10px 10px;
}

.right-side .profile ul a:hover {
	background-color: #ccc;
}

.right-side .profile ul a span,
.right-side .profile ul a i {
	color: #464646;
	font-weight: 500;
}.right-side .profile ul a span {
	font-size: 15px;
}.right-side .profile ul a i {
	font-size: 19px;
}

.header-content {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 1500px;
	margin: auto;
	padding: 0 50px;
}

.header-content > div {
	width: 500px;
	text-align: center;
	position: relative;
}

.header-content > div::before {
	content: '';
	width: 50px;
	height: 50px;
	background-image: url('img/yellow-circle.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: -40px;
	left: -20px;
}

.header-content > div::after {
	content: '';
	width: 50px;
	height: 50px;
	background-image: url('img/yellow-circle.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: -40px;
	right: -20px;
}

.header-content > div p:first-child {
	font-size: 3.5em;
	line-height: 70px;
	font-weight: bold;
	margin-bottom: 20px;
} .header-content > div p:last-child {
	color: #ccc;
}

.header-content > img {
	width: 100%;
	max-width: 550px;
}
/* END HEADER */

/* RESPONSIVE */
@media only screen and (max-width: 1250px) {
	.nav {
		padding: 20px 50px 0 50px !important;
	}

	.header-content > div p:first-child {
		font-size: 3em;
	} .header-content > div p:last-child {
		font-size: 0.9em;
	}

	.header-content > div {
		width: 400px;
	}

	.header-content > img {
		max-width: 430px;
	}
}

@media only screen and (max-width: 1100px) {
	.left-side .menu a span {
		display: none;
	}

	.header-content > img {
		display: none;
	}
}

@media only screen and (max-width: 950px) {
	.nav {
		display: none !important;
	}

	.nav2 {
		display: flex !important;
		position: relative;
		width: 100%;
		height: 75px;
		padding: 0 35px;
		align-items: center;
		justify-content: space-between;
	}

	.nav2 .left-side > button {
		background: none;
		border: none;
		outline: none;
		font-size: 20px;
	}

	.nav2 .left-side > ul {
		position: absolute;
		top: 75px;
		left: 0;
		width: 100%;
		background-color: black;
		z-index: 1;
		height: 0;
		overflow: hidden;
	}

	.nav2 .left-side.active > ul {
		height: fit-content;
	}

	.nav2 .left-side ul > a {
		display: block;
		padding: 10px 0;
		text-align: center;
	}

	.nav2 .left-side ul > a:hover {
		background-color: #393939;
	}

	.nav2 .left-side ul > form {
		width: 100%;
		border-radius: 0;
	}

	.nav2 .left-side ul > .profile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav2 .left-side ul > .profile img {
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
	}

	.nav2 .left-side ul > .profile div {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		width: 100%;
		justify-content: center;
		padding: 10px 0;
	}

	.nav2 .left-side ul > .profile ul {
		width: 100%;
	}

	.nav2 .left-side ul > .profile ul {
		height: 0;
		overflow: hidden;
	}

	.nav2 .left-side ul > .profile.open ul {
		height: fit-content;
	}

	.logo {
		width: 40px;
		height: 40px;
	}

	.header-content {
		height: 100vh;
		align-items: flex-start;
	}

	.header-content > div {
		margin-top: 100px;
	}

	.header-content > div p:first-child {
		font-size: 2.5em;
	} .header-content > div p:last-child {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 450px) {
	.header-content {
		padding: 0 20px;
	}

	.header-content > div::before {
		display: none;
	}

	.header-content > div::after {
		display: none;
	}

	.header-content > div p:first-child {
		font-size: 2em;
		line-height: 50px;
		margin-bottom: 10px;
	} .header-content > div p:last-child {
		font-size: 0.7em;
	}
}
